<div class="banner-grid">
    <div class="banner-grid__container">
        <div class="banner-grid__item">
            <a href="#" class="banner-grid__link">
                <img src="@img(banner-vitrine-01)" />
            </a>
        </div>
        <div class="banner-grid__item">
            <a href="#" class="banner-grid__link">
                <img src="@img(banner-vitrine-02)" />
            </a>
        </div>
        <div class="banner-grid__item">
            <a href="#" class="banner-grid__link">
                <img src="@img(banner-vitrine-03)" />
            </a>
        </div>
        <div class="banner-grid__item">
            <a href="#" class="banner-grid__link">
                <img src="@img(banner-vitrine-04)" />
            </a>
        </div>

        <div class="banner-grid__item">
            {{widget type="interface/widget_newsletter"
            template="interface/widgets/newsletter.phtml"
            identificador="newsmosaico" texto="
            <h2>Se conecte com a gente!</h2>
            <span>Receba ofertas recomendadas e preços exclusivos!</span>"
            label_email="E-mail:" placeholder_email="Digite seu E-mail"
            texto_botao="Cadastrar"}}
        </div>
    </div>
</div>
