<div class="prod__img">
    @fotos
    @selos
</div>
<div class="prod__shop">	
	<div class="col">	

		<div class="prod__name">
            <h1>@nome</h1>
        </div>
        <div class="prod__head">
            @avaliacoes
            @marca
            <small class="sku">Sku: @atributo(sku)</small>
        </div>

        @variacoes
        
        @temporizador

		@if(is_disponivel)
			@preco
			@preco(avista)
			@preco(parcelado)	
        
            @brinde
        
            @programa-fidelidade(Compre e Ganhe)

            <div class="prod__buys">
                @bt(comprar)
                @links
            </div>

            @bt(sobconsulta "Sob Consulta")
        
            @simulador-frete
		@else(is_disponivel)		
			<div class="prod__esgotado">
				<div class="title title--sm">Produto Esgotado</div>
				@alertas
			</div>
		@endif(is_disponivel)
	</div>
		
</div>