.breadcrumb__home .breadcrumb__link:before
    display: none

.breadcrumb
    &__link
        font-size: 12px
        font-weight: medium
        color: color2_bg

    &__last
        font-size: 12px
        font-weight: medium
        color: color1_bg

    &__sep
        width: 2px
        height: 2px
        background: #d7d7d7

        span
            display: none