.category-title, .category-description
    display: none !important

.catalog-category-view
    .col-main
        .category-image
            display: none

.category-image
    img
        display: block
        margin: 0 auto

.ias-noneleft
    display: none !important

@media (min-width: 993px)
    .catalog-category-view
        .main
            display: block

        .col-left
            max-width: 100%
            padding: 0
            margin-bottom: 30px
            margin-right: 170px
