.category-title, .category-description
    display: none !important

@media (min-width: 993px)
    .catalog-category-view
        .main
            display: block

        .col-left
            max-width: 100%
            padding: 0
            margin-bottom: 30px
            margin-right: 170px
