.category-title
    display: none

@media (min-width: 993px)
    .catalog-category-view
        .main
            display: block

        .col-left
            max-width: 100%
            padding: 0
            margin-bottom: 30px
