.myaccount
    &.on
        z-index: 30

    &__header
        display: flex
        justify-content: center
        align-items: center
        min-height: 48px
        min-width: 48px

        .ico
            width: 12px
            height: 14px