.myaccount
    &.on
        z-index: 30

    &:hover
        .myaccount__content
            display: none !important

    &__header
        display: flex
        justify-content: center
        align-items: center
        min-height: 48px
        min-width: 48px

        .ico
            width: 12px
            height: 14px