.toolbar
    justify-content: flex-end

    .amount, .limiter, .sort-by label
        display: none

    .sorter
        margin-left: 0

    .sort-by
        position: relative
        margin-left: 0

        select
            box-shadow: none
            appearance: none
            background: #f7f7f7
            height: 50px
            padding: 0 20px
            border: 0
            font-size: 12px
            color: #3c3733

        &:after
            content: ''
            position: absolute
            top: 50%
            right: 1rem
            border-left: solid 5px transparent
            border-right: solid 5px transparent
            border-top: solid 5px #ff5d00
            transform: translateY(-50%)

@media (min-width: 993px)
    .toolbar
        margin-top: -95px